.title{
  padding: 5px 10px;
  text-align: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-transform: capitalize;
}

.content{
  display: flex;
  gap: 50px;
}


@media screen and (max-width: 1024px) {
.title{
  font-size: 30px;
};

  .content {
      display: flex;
      flex-direction: column;
      gap: 40px;
  }
}
